.header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 0;
  justify-content: flex-start;
}

.menu-icon {
  cursor: pointer;
  color: #2563eb;
}

.header h1 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}
